[submodule "wiki"]
	path = wiki
	url = https://github.com/pinkfish/openscad_boardgame_toolkit.wiki.git
[submodule "scripts/colorscad"]
	path = scripts/colorscad
	url = https://github.com/jschobben/colorscad
[submodule "scripts/img2pdf"]
	path = scripts/img2pdf
	url = https://github.com/jschobben/img2pdf
